@font-face { font-family: "TextaBlack"; src: url('./assets/fonts/Texta-Black.otf'); font-style: normal;}
@font-face { font-family: "TextaBlack"; src: url('./assets/fonts/Texta-BlackIt.otf'); font-style: italic;}
@font-face { font-family: "TextaHeavy"; src: url('./assets/fonts/Texta-Heavy.otf'); font-style: normal;}
@font-face { font-family: "TextaHeavy"; src: url('./assets/fonts/Texta-HeavyIt.otf'); font-style: italic;}
@font-face { font-family: "TextaMedium"; src: url('./assets/fonts/Texta-MediumIt.otf'); font-style: italic;}
@font-face { font-family: "TextaMedium"; src: url('./assets/fonts/Texta-Medium.otf'); font-style: normal;}
@font-face { font-family: "TextaBook"; src: url('./assets/fonts/Texta-Book.otf'); font-style: normal;}
@font-face { font-family: "TextaLight"; src: url('./assets/fonts/Texta-Light.otf'); font-style: normal;}

h1 { font-family: "TextaHeavy"; letter-spacing: 2px; font-style: normal;}
h2 { font-family: "TextaBlack"; letter-spacing: 2px; font-style: italic;}
h3, h4, h5, h6 { font-family: "TextaHeavy"; letter-spacing: 2px; font-style: normal;}
p, span { font-family: "TextaBook"; letter-spacing: 1px; font-style: normal;}

a {
    color: white;
    text-decoration: underline;
    font-family: "TextaMedium";
    letter-spacing: 1px;
    font-style: normal;
    line-height: 1.6em;
}

a:focus, a:hover {
    color: #EA1D76;
    text-decoration: underline;
}

body {
    font-family:"Texta", Helvetica, Arial;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: left;
    background-color: #0A2037;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #ED1C7F;
    color: #ED1C7F;
}

.home_col {
    margin: 150px 100px 150px 100px;
}

.home_paragraph {
    font-size: 2.2em;
}

.about_heading {
    font-size: 2.2em;
    padding-left: 40px;
}

.about_paragraph {
    padding-left: 80px;
    font-size: 2.2em;
    width: 70%;
}

.capability_heading_row {
    margin: 60px;
}

.capability_heading {
    font-size: 2.5em;
}

.capability_content_col {
    margin: 100px 50px;
}

.work_heading {
    font-size: 2.2em;
}

.work_modal_row {
    width: 65%;
}

.end_paragraph {
    font-size: 2.2em;
    width: 60%;
}

@media screen and (min-width: 1080px) and (max-width: 1280px) {
    .work_modal_row {
        width: 80%;
    }
}

@media screen and (min-width: 1281px) {
    .work_modal_row {
        width: 65%;
    }
}

@media screen and (max-width: 1025px) {
    .home_col {
        margin: 100px 30px;
        padding-top: 50px;
    }

    .home_paragraph {
        font-size: 1.8em;
    }

    .about_heading {
        font-size: 2.0em;
        padding-left: 10px;
    }

    .about_paragraph {
        padding-left: 35px;
        font-size: 1.8em;
        width: 90%;
    }

    .artwork_col {
        order: -1;
    }

    .capability_heading_row {
        margin: 40px;
    }

    .capability_heading {
        font-size: 2.2em;
    }

    .capability_content_col {
        margin: 30px;
    }

    .work_heading {
        font-size: 2.0em;
    }

    .work_modal_button {
        visibility: hidden;
    }

    .end_paragraph {
        font-size: 1.8em;
        width: 90%;
    }
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
}

.work-button {
    padding: 4px 0px;
    border: none;
    background: none;
    outline: 0;
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.work-button:hover, .work-button:active {
    color: #ED1C7F;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.work-button:focus {
    color: #FFFFFF;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.social-icon svg:hover {
    fill: #ed1a7f;
}
