@font-face { font-family: "TextaBlack"; src: url('./assets/fonts/Texta-Black.otf'); font-style: normal;}
@font-face { font-family: "TextaBlack"; src: url('./assets/fonts/Texta-BlackIt.otf'); font-style: italic;}
@font-face { font-family: "TextaHeavy"; src: url('./assets/fonts/Texta-Heavy.otf'); font-style: normal;}
@font-face { font-family: "TextaHeavy"; src: url('./assets/fonts/Texta-HeavyIt.otf'); font-style: italic;}
@font-face { font-family: "TextaMedium"; src: url('./assets/fonts/Texta-MediumIt.otf'); font-style: italic;}
@font-face { font-family: "TextaMedium"; src: url('./assets/fonts/Texta-Medium.otf'); font-style: normal;}
@font-face { font-family: "TextaLight"; src: url('./assets/fonts/Texta-Light.otf'); font-style: normal;}

h1 { font-family: "TextaHeavy"; letter-spacing: 2px; font-style: norm;}
h2 { font-family: "TextaBlack"; letter-spacing: 2px; font-style: italic;}
h3, h4, h5, h6 { font-family: "TextaHeavy"; letter-spacing: 2px; font-style: normal;}
p { font-family: "TextaMedium"; letter-spacing: 1px; font-style: normal;}

a {
    color: white;
    text-decoration: underline;
    font-family: "TextaMedium";
    letter-spacing: 1px;
    font-style: normal;
    line-height: 1.6em;
}

a:focus, a:hover {
    color: #EA1D76;
    text-decoration: underline;
}

body {
    font-family:"Texta", Helvetica, Arial;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: left;
    background-color: #0A2037;
}

#pp-nav li .active span, .pp-slidesNav .active span {
    background: #EA1D76;
}

#pp-nav li span, .pp-slidesNav span {
    background: #E0E0E0;
}

#pp-nav.right {
    right: 30px;
}

/*.main-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    width: 100%;
    height: 100%;
    background-color: transparent;
}*/

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
}
